<?xml version="1.0" encoding="UTF-8"?>

<!-- config.xml reference: https://build.phonegap.com/docs/config-xml -->
<widget xmlns = "http://www.w3.org/ns/widgets"
				xmlns:gap = "http://phonegap.com/ns/1.0"
				id = "com.leschickens.campchickens2015_02"
				version = "1.0.0">
	<name>
		#CAMPCHICKENS2015
	</name>
	<description>
		#CAMPCHICKENS2015 : le camp d'entraînement des Chickens, club de triathlon à Montréal
	</description>
	<author href="http://www.leschickens.com" email="contact@leschickens.com">
		Les Chickens - IT Poulets
	</author>
	<!--
				If you do not want any permissions to be added to your app, add the
				following tag to your config.xml; you will still have the INTERNET
				permission on your app, which PhoneGap requires
		-->
	<preference name="permissions" value="none"/>
	<feature name="http://api.phonegap.com/1.0/network"/>
	<feature name="http://api.phonegap.com/1.0/geolocation"/>
	<!-- Customize your app and platform with the preference element. -->
	<preference name="orientation" value="default" />
	<!-- All: default means both landscape and portrait are enabled -->
	<preference name="target-device" value="universal" />
	<!-- All: possible values handset, tablet, or universal -->
	<preference name="fullscreen" value="true" />
	<preference name="android-minSdkVersion" value="7" />
	<!-- android: MIN SDK version supported on the target device. MAX version is blank by default -->
	<preference name="android-installLocation" value="auto" />
	<!-- Define app icon for each platform. -->
	<icon src="images/icons/android/ldpi_36x36.png" gap:platform="android" gap:qualifier="ldpi" />
	<icon src="images/icons/android/mdpi_48x48.png" gap:platform="android" gap:qualifier="mdpi" />
	<icon src="images/icons/android/hdpi_72x72.png" gap:platform="android" gap:qualifier="hdpi" />
	<icon src="images/icons/android/xhdpi_96x96.png" gap:platform="android" gap:qualifier="xhdpi" />
	<icon src="images/icons/android/xxhdpi_144x144.png" gap:platform="android" gap:qualifier="xxhdpi" />
	<!-- Default splash screen -->
	<gap:splash src="splash.png" />
	<!-- Define app splash screen for each platform -->
	<gap:splash src="images/splash_screens/android/ldpi_portrait_200x320.png" gap:platform="android" gap:qualifier="port-ldpi" />
	<gap:splash src="images/splash_screens/android/mdpi_portrait_320x480.png" gap:platform="android" gap:qualifier="port-mdpi" />
	<gap:splash src="images/splash_screens/android/hdpi_portrait_480x800.png" gap:platform="android" gap:qualifier="port-hdpi" />
	<gap:splash src="images/splash_screens/android/xhdpi_portrait_720x1280.png" gap:platform="android" gap:qualifier="port-xhdpi" />
	<!--	Define access to external domains -->
	<access origin="*"/>
</widget>
